/**************************

 Simple dropdown menu 
 with some css3 features

 
 @author: Michal Moczulski
 https://github.com/mrmike
**************************/


/* basic reset */

body, ul, li {
	margin: 0;
	padding: 0;
}

a {
	color: #000;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/* end basic reset */


/*Generic */

#wrap {
	width: 960px;
	margin: 2em auto;	 
	font-family: "Palatino Linotype", helvetica, arial, sans-serif;
}



/* Dropdown menu */
ul#nav {
	float: left;
	height: 2.5em;
	margin-bottom: 5px;
	overflow: hidden;
}

ul#nav li {
	float: left;
	margin-right: 10px;
	width: 8em;
}


/* styling anchor elements */
ul#nav a, ul#nav span {
	border: 1px solid black;
	display: block;
	padding: 4px 8px;
	text-align: center;
	/* box shadow */
	-webkit-box-shadow: 2px 2px 2px #000;
	-moz-box-shadow: 2px 2px 2px #000;
	-o-box-shadow: 2px 2px 2px #000;
	box-shadow: 2px 2px 2px #000;	
	/* border radius */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

ul#nav a:hover {
	color: #fff;
	background-color: #222;
}

/* styling sub menu */
ul#nav li ul.subMenu {
	left: -4px;
	opacity: 0;
	position: relative;
	top: -5px;
	/* transition */
	-webkit-transition: top 0.4s ease-out;
	-moz-transition: top 0.4s ease-out;
	transition: top 0.4s ease-out;

}

ul#nav li ul.subMenu li {
	padding: 2px 4px;
	width: 8em;
	background-color: #fff;
}

/* Sliding down dropdown menu */

ul#nav:hover{
	overflow: visible; 
}

ul#nav li:hover ul.subMenu {
	top: 5px;
	left: -4px;
	opacity: 0.9;
}
/****************************/

p {
	clear: both;
}

/* End styling */
